@font-face {
    font-family: logo-font;
    src: url(./fonts/Norse-Bold.otf);
}
a:link{
    color:white;
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;

}

.logo{
    width: 20%;
    height: 20%;
}

.heading, .form, .footer {
    padding-left: 50px; /* Adjust as needed */
    padding-right: 50px;
}

.background-img{
    width: 35vw;
    height: 100vh;
    object-fit: cover; 
    
    /* 3. FIX ALIGNMENT/LAYOUT: Makes the img behave like a block element */
    display: block; 
}



.card-img{
    position: absolute;
    width: 26vw;
    height: 100vh;
    object-fit: cover; 
    
    /* 3. FIX ALIGNMENT/LAYOUT: Makes the img behave like a block element */
    display: block; 

}

.card-body{
    position: absolute;
    color:white;
    opacity: .7;
    background-color: black;
    width:26%;
    text-align: center;
    top: 8rem;
    font-family: logo-font;
    font-size: 4em;
    display:flex;
    align-items: center;
    justify-content: center;

}

.logo{
    /* height: 100%; Make the logo take up the full height of the .card-body container */
    
    
}

.logo-text{
    font-size: 1em;
}
.picture_src{
    
    position:absolute;
    /* top: 41rem; */
    left: 6rem;
    display:flex;
    justify-content: center;
    font-size: .7rem;
    color: white;
    bottom:0;
}

.container{
    width: 100vw;
    height: 100vh;
    display:flex;
    
}

.sign-up{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.heading{
    flex-grow:2;
    background-color: lightblue;
}

.form{
    flex-grow:1;
    background-color: lightgreen;
}

.footer{
    flex-grow:2;
    background-color: lightpink;
}


.heading p{
    padding-top: 5rem;
    padding-right:55%;
    /* padding-left: 2rem; */
    font-weight: bold;
}

.form{
    /* padding:1rem; */
    display:flex;
    flex-direction: column;
}

.fields{
    display:flex;

}

.first-column-field, .second-column-field{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 2rem;
    
}

input{
    border-radius: 3px;
    margin-bottom: 1rem;
}