@font-face {
    font-family: logo-font;
    src: url(./fonts/Norse-Bold.otf);
}
a:link{
    color:white;
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;

}

.logo{
    width: 20%;
    height: 20%;
}

.background-img{
    width: 35vw;
    height: 100vh;
    object-fit: cover; 
    
    /* 3. FIX ALIGNMENT/LAYOUT: Makes the img behave like a block element */
    display: block; 
}



.card-img{
    position: absolute;
    width: 26vw;
    height: 100vh;
    object-fit: cover; 
    
    /* 3. FIX ALIGNMENT/LAYOUT: Makes the img behave like a block element */
    display: block; 

}

.card-body{
    position: absolute;
    color:white;
    opacity: .7;
    background-color: black;
    width:26%;
    text-align: center;
    top: 8rem;
    font-family: logo-font;
    font-size: 4em;
    display:flex;
    align-items: center;
    justify-content: center;

}

.picture_src{
    
    position:absolute;
    top: 41rem;
    left: 5rem;
    display:flex;
    justify-content: center;
    font-size: .7rem;
    color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display:flex;
    
}

.sign-up{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.heading{
    flex-grow:1;
    background-color: lightblue;
}

.form{
    flex-grow:3;
    background-color: lightgreen;
}

.footer{
    flex-grow:2;
    background-color: lightpink;
}