body{
    margin:0;
    padding:0;
    overflow-x: hidden; 
}

img{
    width: 40vw;
    height: 100vh;
    object-fit: cover; 
    
    /* 3. FIX ALIGNMENT/LAYOUT: Makes the img behave like a block element */
    display: block; 
    
}

.background-img{
    
}

.container{
    width: 100vw;
    height: 100vh;
    display:flex;
    
}

.sign-up{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.heading{
    flex-grow:1;
    background-color: lightblue;
}

.form{
    flex-grow:3;
    background-color: lightgreen;
}

.footer{
    flex-grow:2;
    background-color: lightpink;
}